{
  "project_info": {
    "project_number": "VOTRE_PROJECT_NUMBER",
    "project_id": "VOTRE_PROJECT_ID",
    "storage_bucket": "VOTRE_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "VOTRE_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "com.upark"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "VOTRE_API_KEY_FIREBASE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
